<div class="page-header">

<h3>What is a &quot;blog&quot;?</h3>

</div>


<p>&quot;Blog&quot; is an abbreviated version of &quot;weblog,&quot; which is a term used to describe web sites that maintain an ongoing chronicle of information. A blog features diary-type commentary and links to articles on other Web sites, usually presented as a list of entries in reverse chronological order. Blogs range from the personal to the political, and can focus on one narrow subject or a whole range of subjects.</p>

<p>Many blogs focus on a particular topic, such as web design, home staging, sports, or mobile technology. Some are more eclectic, presenting links to all types of other sites. And others are more like personal journals, presenting the author&#39;s daily life and thoughts.</p>

<p>Generally speaking (although there are exceptions), blogs tend to have a few things in common:</p>

<div class="thumb tright" style="margin: 0px 0px 1em 1em; padding: 0px; float: right; color: rgb(0, 0, 0); font-family: sans-serif; line-height: 22px;">
<div class="thumbinner" style="margin: 0px; padding: 0px; width: 252px;"><a class="image" href="http://codex.wordpress.org/File:whatIsABlog.png" style="text-decoration: none; color: rgb(76, 166, 207);" title="diagram"><img alt="" class="thumbimage" src="http://codex.wordpress.org/images/thumb/b/bd/whatIsABlog.png/250px-whatIsABlog.png" style="border:0px; height:171px; width:250px" /></a>

<div class="thumbcaption" style="margin: 0px; padding: 0px;">
<div class="magnify" style="margin: 0px; padding: 0px;"><a class="internal" href="http://codex.wordpress.org/File:whatIsABlog.png" style="text-decoration: none; color: rgb(76, 166, 207);" title="Enlarge"><img alt="" src="http://codex.wordpress.org/skins/common/images/magnify-clip.png" style="border:0px; height:11px; width:15px" /></a></div>
diagram</div>
</div>
</div>

<ul>
	<li style="text-align:left !important">A main content area with articles listed chronologically, newest on top. Often, the articles are organized into categories.</li>
</ul>

<ul>
	<li style="text-align:left !important">An archive of older articles.</li>
	<li style="text-align:left !important">A way for people to leave comments about the articles.</li>
	<li style="text-align:left !important">A list of links to other related sites, sometimes called a &quot;blogroll&quot;.</li>
	<li style="text-align:left !important">One or more &quot;<a href="http://codex.wordpress.org/Introduction_to_Blogging#Feeds" style="text-decoration: none; color: rgb(76, 166, 207);" title="">feeds</a>&quot; like RSS, Atom or RDF files.</li>
</ul>

<p>Some blogs may have additional features beyond these. Watch this&nbsp;<a class="external text" href="http://www.youtube.com/watch?v=NN2I1pWXjXI" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="http://www.youtube.com/watch?v=NN2I1pWXjXI">short video</a>&nbsp;for a simple explanation for what a blog is.</p>

<p><a id="The_Blog_Content" name="The_Blog_Content"></a></p>

<h2>The Blog Content</h2>

<p>Content is the&nbsp;<a class="external text" href="http://web.archive.org/web/20090220052538/http://bartleby.com/59/4/raisondetre.html" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="http://web.archive.org/web/20090220052538/http://bartleby.com/59/4/raisondetre.html">raison d&#39;&ecirc;tre</a>&nbsp;for any web site. Retail sites feature a catalog of products. University sites contain information about their campuses, curriculum, and faculty. News sites show the latest news stories. For a personal blog, you might have a bunch of observations, or reviews. Without some sort of updated content, there is little reason to visit a web site more than once.</p>

<p>On a blog, the content consists of articles (also sometimes called&nbsp;<a href="http://codex.wordpress.org/Glossary#Post" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Glossary">&quot;posts&quot;</a>&nbsp;or &quot;entries&quot;) that the author(s) writes. Yes, some blogs have multiple authors, each writing his/her own articles. Typically, blog authors compose their articles in a web-based interface, built into the blogging system itself. Some blogging systems also support the ability to use&nbsp;<a href="http://codex.wordpress.org/Weblog_Client" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Weblog Client">stand-alone &quot;weblog client&quot; software</a>, which allows authors to write articles offline and upload them at a later time.</p>

<p><a id="Comments" name="Comments"></a></p>

<h2>Comments</h2>

<p>Want an interactive website? Wouldn&#39;t it be nice if the readers of a website could leave comments, tips or impressions about the site or a specific article? With blogs, they can! Posting comments is one of the most exciting features of blogs.</p>

<p>Most blogs have a method to allow visitors to&nbsp;<a href="http://codex.wordpress.org/Introduction_to_Blogging#Managing_Comments" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="">leave comments</a>. There are also nifty ways for authors of other blogs to leave comments without even visiting the blog! Called &quot;<a href="http://codex.wordpress.org/Introduction_to_Blogging#Pingbacks" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="">pingbacks</a>&quot; or &quot;<a href="http://codex.wordpress.org/Introduction_to_Blogging#Trackbacks" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="">trackbacks</a>&quot;, they can inform other bloggers whenever they cite an article from another site in their own articles. All this ensures that online conversations can be maintained painlessly among various site users and websites.</p>

<p><a id="The_Difference_Between_a_Blog_and_CMS.3F" name="The_Difference_Between_a_Blog_and_CMS.3F"></a></p>

<h2>The Difference Between a Blog and CMS?</h2>

<p>Software that provides a method of managing your website is commonly called a CMS or&nbsp;<a href="http://codex.wordpress.org/Glossary#Content_Management_System" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Glossary">&quot;Content Management System&quot;</a>. Many blogging software programs are considered a specific type of CMS. They provide the features required to create and maintain a blog, and can make publishing on the internet as simple as writing an article, giving it a title, and organizing it under (one or more) categories. While some CMS programs offer vast and sophisticated features, a basic blogging tool provides an interface where you can work in an easy and, to some degree, intuitive manner while it handles the logistics involved in making your composition presentable and publicly available. In other words, you get to focus on what you want to write, and the blogging tool takes care of the rest of the site management.</p>

<p>WordPress is one such advanced blogging tool and it provides a rich set of&nbsp;<a href="http://codex.wordpress.org/WordPress_Features" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="WordPress Features">features</a>. Through its&nbsp;<a class="mw-redirect" href="http://codex.wordpress.org/Administration_Panels" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Administration Panels">Administration Panels</a>, you can set options for the behavior and presentation of your weblog. Via these&nbsp;<a class="mw-redirect" href="http://codex.wordpress.org/Administration_Panels" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Administration Panels">Administration Panels</a>, you can easily compose a&nbsp;<a href="http://codex.wordpress.org/Glossary#Post" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Glossary">blog post</a>, push a button, and be published on the internet, instantly! WordPress goes to great pains to see that your blog posts look good, the text looks beautiful, and the html code it generates conforms to web standards.</p>

<p>If you&#39;re just starting out, read&nbsp;<a href="http://codex.wordpress.org/Getting_Started_with_WordPress" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Getting Started with WordPress">Getting Started with WordPress</a>, which contains information on how to get WordPress set up quickly and effectively, as well as information on performing basic tasks within WordPress, like creating new posts or editing existing ones.</p>

<p><a id="Things_Bloggers_Need_to_Know" name="Things_Bloggers_Need_to_Know"></a></p>

<h2>Things Bloggers Need to Know</h2>

<p>In addition to understanding how your specific blogging software works, such as&nbsp;<a href="http://codex.wordpress.org/Getting_Started_with_WordPress" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Getting Started with WordPress">WordPress</a>, there are some terms and concepts you need to know.</p>

<p><a id="Archives" name="Archives"></a></p>

<h3>Archives</h3>

<p>A blog is also a good way to keep track of articles on a site. A lot of blogs feature an archive based on dates (like a monthly or yearly archive). The front page of a blog may feature a calendar of dates linked to daily archives. Archives can also be based on categories featuring all the articles related to a specific category.</p>

<p>It does not stop there; you can also archive your posts by author or alphabetically. The possibilities are endless. This ability to organize and present articles in a composed fashion is much of what makes blogging a popular personal publishing tool.</p>

<p><a id="Feeds" name="Feeds"></a></p>

<h3>Feeds</h3>

<p>A Feed is a function of special software that allows &quot;Feedreaders&quot; to access a site automatically looking for new content and then post updates about that new content to another site. This provides a way for users to keep up with the latest and hottest information posted on different blogging sites. Some Feeds include RSS (alternately defined as &quot;Rich Site Summary&quot; or &quot;Really Simple Syndication&quot;), Atom or RDF files. Dave Shea, author of the web design weblog&nbsp;<a class="external text" href="http://mezzoblue.com/" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="http://mezzoblue.com">Mezzoblue</a>&nbsp;has written&nbsp;<a class="external text" href="http://www.mezzoblue.com/archives/2004/05/19/what_is_rssx/" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="http://www.mezzoblue.com/archives/2004/05/19/what_is_rssx/">a comprehensive summary</a>&nbsp;of feeds.</p>

<p><a id="Blogrolls" name="Blogrolls"></a></p>

<h3>Blogrolls</h3>

<p>A&nbsp;<a href="http://codex.wordpress.org/Glossary#Blogroll" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Glossary">blogroll</a>&nbsp;is a list, sometimes categorized, of links to webpages the author of a blog finds worthwhile or interesting. The links in a blogroll are usually to other blogs with similar interests. The blogroll is often in a &quot;sidebar&quot; on the page or featured as a dedicated separate web page. WordPress has a built-in&nbsp;<a href="http://codex.wordpress.org/Links_Manager" style="text-decoration: none; color: rgb(76, 166, 207); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223);" title="Links Manager">Link Manager</a>&nbsp;so users do not have to depend on a third party for creating and managing their blogroll.</p>

<p><a id="Syndication" name="Syndication"></a></p>

<h3>Syndication</h3>

<p>A feed is a machine readable (usually XML) content publication that is updated regularly. Many weblogs publish a feed (usually RSS, but also possibly Atom and RDF and so on, as described above). There are tools out there that call themselves &quot;feedreaders&quot;. What they do is they keep checking specified blogs to see if they have been updated, and when the blogs are updated, they display the new post, and a link to it, with an excerpt (or the whole contents) of the post. Each feed contains items that are published over time. When checking a feed, the feedreader is actually looking for new items. New items are automatically discovered and downloaded for you to read, so you don&#39;t have to visit all the blogs you are interested in. All you have to do with these feedreaders is to add the link to the RSS feed of all the blogs you are interested in. The feedreader will then inform you when any of the blogs have new posts in them. Most blogs have these &quot;Syndication&quot; feeds available for the readers to use.</p>

<p><a id="Managing_Comments" name="Managing_Comments"></a></p>

<h3>Managing Comments</h3>

<p>One of the most exciting features of blogging tools are the comments. This highly interactive feature allows users to comment upon article posts, link to your posts, and comment on and recommend them. These are known as&nbsp;<strong>trackbacks</strong>&nbsp;and&nbsp;<strong>pingbacks</strong>. We&#39;ll also discuss how to moderate and manage comments and how to deal with the annoying trend in &quot;comment spam&quot;, when unwanted comments are posted to your blog.</p>

<div>&nbsp;</div>

<ul>
</ul>
